/* reset */
html, body { padding:10px; }
body, img, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, p, fieldset, input, select, form { margin:0; padding:0; }
fieldset, img, a { border:none; text-decoration:none; margin:0; padding:0; }
ul li, ol li { list-style:none; }


/* general */
* {font-family:Arial; font-size:11px;}
h1 {font-size:20px; padding:0; margin:0 0 10px 0;}
.general {width:1060px; background:#E5E5E5; padding:20px; margin:0 auto;}
.break {clear:both; display:block;}

/* form */
.form-column { float:left; }
.label-block { display:block; }
.input-text { margin-left:-5px; padding:0 2px; width:225px; line-height:20px; font-size:13px; border:1px solid #999; }

textarea {width:476px; overflow-y:scroll; height:78px; font-size:13px; border:1px solid #999; }
select { border:1px solid #d6d6d6; border:1px solid #999; }
.error {border:1px solid red !important;}

.form-error { text-align:center; width:610px; float:right; }
.form-error span { color:#fff; background:#ff0000; }

#box-form { margin:0 0 0 -20px; width:500px; position:relative; x-index:10; }
#box-form p { margin-bottom:20px; }

#birthdate-d,
#birthdate-m,
#phone-cod { width:35px; margin-right:4px; }
#birthdate-y { width:55px;}

#phone { width:184px; }

th, td {text-align:left; vertical-align:top; padding:5px;}

.tabs {width:1100px; margin:0 auto; padding:0;}
.tabs li {padding:10px; margin:0 10px 0 0; float:left; height:10px; background:#333; text-transform:uppercase; color:#FFF;}
.tabs a {color:#FFF;}

.normal-user {background:#FFF;}
.selected-user {background:lightblue;}

.error-feedback {color:red; font-size:15px; margin-bottom:20px;}